html, body {
  display: grid;
  justify-items: center;
  background: #e0feff;
}

p {
  text-align: center;
  margin-top: 20%;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  color: #545454;
}